<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Avaliação</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/painel.css">
</head>
<body>
    <div class="panel-container" style="width: 500px; text-align: left;">
        <h1>Avaliação de <span th:text="${avaliacao.aluno?.nome}">Nome do Aluno</span></h1>
        <p><strong>Data:</strong> <span th:text="${#temporals.format(avaliacao.data, 'dd/MM/yyyy')}">01/01/2025</span></p>
        
        <hr class="divider">
        
        <ul class="styled-list">
            <li th:text="|Peso: ${avaliacao.peso} kg|"></li>
            <li th:text="|Altura: ${avaliacao.altura} m|"></li>
            <li th:text="|Percentual de Gordura: ${avaliacao.percentualGordura} %|"></li>
            <li th:text="|IMC: ${#numbers.formatDecimal(avaliacao.imc, 1, 2)}|"></li>
        </ul>
        
        <hr class="divider">

        <a sec:authorize="hasRole('INSTRUTOR')" th:href="@{/alunos/{id}(id=${avaliacao.aluno.id})}" class="register-link">
            Voltar para Detalhes do Aluno
        </a>

        <a sec:authorize="hasRole('ALUNO')" th:href="@{/alunos/painel}" class="register-link">
            Voltar ao Meu Painel
        </a>
    </div>
</body>
</html>