<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Painel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/painel.css">
</head>
<body>
    <div class="panel-container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Bem-vindo, <span th:text="${aluno?.nome}">Aluno</span>!</h1>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="delete-button" style="background-color: #6c757d;">Sair</button>
            </form>
        </div>

        <hr class="divider">

        <h2>Meus Treinos</h2>
        <ul class="styled-list">
            <li th:each="treino : ${aluno.treinos}">
                <a th:href="@{/treinos/{id}(id=${treino.id})}" th:text="${treino.descricaoTreino}">Descrição do Treino</a>
            </li>
        </ul>

        <h2 style="margin-top: 30px;">Minhas Avaliações Físicas</h2>
        <ul class="styled-list">
             <li th:each="avaliacao : ${aluno.avaliacoes}">
                <a th:href="@{/avaliacoes/{id}(id=${avaliacao.id})}" th:text="|Avaliação de ${#temporals.format(avaliacao.data, 'dd/MM/yyyy')}|">
                    Detalhes da Avaliação
                </a>
            </li>
        </ul>
    </div>
</body>
</html>