<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Avaliação Física</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/painel.css">
</head>
<body>
    <div class="login-container">
        <h1>Nova Avaliação Física</h1>
        <form th:action="@{/instrutores/gerenciar-aluno/{alunoId}/salvar-avaliacao(alunoId=${alunoId})}" th:object="${avaliacao}" method="post">
            
            <label for="peso">Peso (kg)</label>
            <input type="number" step="0.01" id="peso" th:field="*{peso}" required>

            <label for="altura">Altura (m)</label>
            <input type="number" step="0.01" id="altura" th:field="*{altura}" required>

            <label for="percentualGordura">% de Gordura</label>
            <input type="number" step="0.01" id="percentualGordura" th:field="*{percentualGordura}" required>

            <button type="submit">Salvar Avaliação</button>
        </form>
    </div>
</body>
</html>