<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Aluno</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/painel.css">
</head>
<body>
    <div class="panel-container" style="width: 700px;">
        <h1>Gerenciando: <span th:text="${aluno.nome}">Nome do Aluno</span></h1>
        
        <div>
            <a th:href="@{/treinos/novo/{alunoId}(alunoId=${aluno.id})}" class="action-link">Criar Novo Treino</a>
            <span style="margin: 0 10px;">|</span>
            <a th:href="@{/instrutores/gerenciar-aluno/{alunoId}/nova-avaliacao(alunoId=${aluno.id})}" class="action-link">Nova Avaliação Física</a>
        </div>
        
        <hr class="divider">

        <h3>Treinos Atuais</h3>
        <ul class="styled-list">
            <li th:each="treino : ${aluno.treinos}">
                <a th:href="@{/treinos/{id}(id=${treino.id})}" th:text="${treino.descricaoTreino}">Descrição do Treino</a>
            </li>
        </ul>

        <h3>Avaliações Físicas</h3>
        <ul class="styled-list">
            <li th:each="avaliacao : ${aluno.avaliacoes}" th:text="|Data: ${avaliacao.data}, Peso: ${avaliacao.peso}kg, IMC: ${#numbers.formatDecimal(avaliacao.imc, 1, 2)}|">
                Avaliação X
            </li>
        </ul>

        <a href="/instrutores/painel" class="register-link" style="margin-top: 20px;">Voltar ao Painel</a>
    </div>
</body>
</html>